PORT=8096
GATEWAY_URL=http://localhost:8080
GATEWAY_ACTUATOR_URL=http://localhost:8080/actuator/gateway/routes
DISCOVERY_INTERVAL_MS=300000
HEALTH_POLL_INTERVAL_MS=10000
TIMESCALE_HOST=localhost
TIMESCALE_PORT=5440
TIMESCALE_DB=monitoring
TIMESCALE_USER=monitoring
TIMESCALE_PASSWORD=monitoring
KEYCLOAK_ISSUER_URI=http://localhost:9090/realms/vnshop
KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/vnshop/protocol/openid-connect/certs
KEYCLOAK_ADMIN_ROLE=admin
